canvas, img {
    /*image-rendering: optimizeSpeed;*/
    /*image-rendering: -moz-crisp-edges;*/
    /*image-rendering: -webkit-optimize-contrast;*/
    /*image-rendering: optimize-contrast;*/
    /*-ms-interpolation-mode: nearest-neighbor;*/
    border: 5px solid #ddd;
    width: 155px;
    height: 219px;
}

/*
canvas#c2 {
    width: 155px;
    height: 219px;
}
*/
