.map {
    height: 500px;
    width: 600px;
    border: 5px solid #044;
    border-radius: 3px;
    display: inline-block;
}

.map-zoom {
    height: 250px;
    width: 497px;
    border: 2px solid #044;
    border-radius: 2px;
    display: inline-block;
    background-color: white;
}

.info {
    width: 500px;
    height: 492px;
    overflow-x: auto;
    overflow-y: auto;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
    font-size: 0.8em;
}
.info .label {
    font-weight: bold;
}

form p {
}
.info table td:first-child {
    width: 45%;
}
.info table td:last-child {
    width: 55%;
}