<p *ngIf="mapData">
    <input type="checkbox" [(ngModel)]="options.showImageLayer"
                           (ngModelChange)="toggleLayers()">
    image PNG +
    <input type="checkbox" [(ngModel)]="options.showVectorLayer"
                           (ngModelChange)="toggleLayers()">
    {{mapData.capture.features.getLength()}} rectangles
    <strong>(Ctrl + drag pour sélectionner une zone)</strong>
</p>

<div id="map" class="map"></div>

<div class="info">
    <div id="map-zoom" class="map-zoom"></div>
    <table>
        <tr>
            <td valign="top">
                <form #form>
                    <p *ngFor="let field of fields">
                        Champ {{field.name}} : <input type="text" [(ngModel)]="field.value" [name]="field.name">
                    </p>
                </form>
            </td>
            <td valign="top">
                <p class="label">Texte sélectionné
                    <!--(<label><input type="checkbox" [(ngModel)]="newLine"> avec sauts de ligne</label>)-->
                    :
                </p>
                <p [innerHTML]="getSelectedText(newLine)"></p>
            </td>
        </tr>
    </table>
</div>
