<hr>
<h2>Démos</h2>
<ul>
    <li>
        <h3><a routerLink="/image-vector/04bi719/png">image-vector</a></h3>
        <div>Démo de sélection de texte OCR, sur différents documents scannés, avec view zoom. Les mêmes layers
            sont partagés par les deux Maps/Views.</div>
    </li>
  <li>
    <h3><a routerLink="/scaled-image">scaled-image</a></h3>
    <div>Deux layers image, l'image normale et une image redimensionnée par facteurs 2, pour une meilleure qualité.</div>
  </li>
    <li>
        <h3><a routerLink="/pdf">pdf</a></h3>
        <div>Démo d'affichage des pages d'un PDF, et passage d'une page à une autre.</div>
    </li>
    <li>
        <h3><a routerLink="/postit">postit</a></h3>
        <div>Démo de Post-it (marche à moitié).</div>
    </li>
    <li>
        <h3><a routerLink="/tiles">tiles</a></h3>
        <div>Démo d'une image fournie par le serveur sous la forme de tuiles (en pratique,
            les tuiles sont dans un répertoire, générées statiquement).</div>
    </li>
</ul>
<hr>
<h2>Tests</h2>
<ul>
    <li>
        <h3><a routerLink="/canvas-test">canvas-test</a></h3>
        <div>Test de redimensionnement d'image de meilleure qualité qu'en standard dans Canvas
            (plusieurs réductions successives d'un facteur 2)</div>
    </li>
    <li>
        <h3><a routerLink="/memory-tiles">memory-tiles</a></h3>
        <div>Test de génération de tiles en mémoire à partir d'une image, trop lent en pratique.</div>
    </li>
</ul>
<hr>
<h2>Ex. OpenLayers</h2>
<ul>
    <li>
        <h3><a routerLink="/static-image">static-image</a></h3>
        <div>Exemple OpenLayers affichant un layer image statique.</div>
    </li>
    <li>
        <h3><a routerLink="/map">map</a></h3>
        <div>Exemple de carte géographique avec OpenLayers.</div>
    </li>
    <li>
        <h3><a routerLink="/map-vector">map-vector</a></h3>
        <div>Exemple de carte OpenLayers affichant un layer Vector (contours de bâtiments).</div>
    </li>
</ul>
<hr>
