<h1>
  {{title}}
</h1>

<nav>
<!--
  <a routerLink="/map">Map</a> |
  <a routerLink="/map-vector">Map+Vector</a> |
  <a routerLink="/static-image">Static Image (no Tiles)</a> |
  Static Image + Vector :
-->
  <a routerLink="/index">Index</a> |
  Images :
  <span *ngFor="let image of images; let i = index">
    <a [routerLink]="['/image-vector/', image.dir, image.type || 'png']"
       routerLinkActive="active">{{i+1}}</a>
  </span>
  - <a routerLink="/tile-image" routerLinkActive="active">Tiles</a>
  - <a routerLink="/memory-tiles" routerLinkActive="active">Tiles (en mémoire)</a>
</nav>

<router-outlet></router-outlet>