nav a {
    border: 1px solid grey;
    background-color: lightblue;
    border-radius: 3px;
    padding: 0.1em 0.2em;
    margin: 0.1em;
    text-decoration: none;
}

nav a.active {
    border: 1px solid #aaa;
    background-color: #eee;
    color: darkred;
    font-weight: bold;
}