<h1>PDF.js Previous/Next example</h1>

<div>
  <button (click)="previousPage()">Previous</button>
  <button (click)="nextPage()">Next</button>
  &nbsp; &nbsp;
  <span>Page: {{pageNum}} / {{pageCount}}</span>
</div>

<canvas id="pdf-canvas"></canvas>
<div id="map" class="map"></div>
