.map {
    height: 500px;
    width: 800px;
    border: 5px solid #044;
    border-radius: 3px;
    display: inline-block;
}

.info {
    width: 300px;
    height: 490px;
    overflow-x: auto;
    overflow-y: auto;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
    font-size: 0.8em;
}
.info .label {
    font-weight: bold;
}