
<p *ngIf="mapData">
  <input type="checkbox" [(ngModel)]="options.showImageLayer"
         (ngModelChange)="toggleLayers()">
  image (Tiles) +
  <input type="checkbox" [(ngModel)]="options.showVectorLayer"
         (ngModelChange)="toggleLayers()">
  {{mapData.capture.features.getLength()}} rectangles
  <strong>(Ctrl + drag pour sélectionner une zone)</strong>
  [zoom : {{map?.getView().getZoom()}} / resolution : {{map?.getView().getResolution()}}]
</p>

<div id="map" class="map"></div>

<!--
<div class="info">
  <p class="label">Texte sélectionné
    (<label><input type="checkbox" [(ngModel)]="newLine">
      avec sauts de ligne</label>) :</p>
  <p [innerHTML]="getSelectedText(newLine)"></p>
</div>
-->
